{% extends "base.html"%}
{% block page_title %}
All Post
{% endblock %}

{% block body_content %}
{% include "blogs/includes/header.html" %}
<ul>
{% for blog in blog_list %}
    <li><a href="{% url 'blog_post' blog=blog %}">{{ blog|capfirst }}</a></li>
    {% endfor %}
</ul>

{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>All Post</title>-->

<!--</head>-->
<!--<body>-->

<!--<ul>-->
<!--{% for blog in blog_list %}-->
<!--    <li><a href="{% url 'blog_post' blog=blog %}">{{ blog|capfirst }}</a></li>-->
<!--    {% endfor %}-->
<!--</ul>-->
<!--</body>-->
<!--</html>-->
