{% extends "base.html"%}

{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'blogs/app.css' %}">
{% endblock %}
{% block page_title %}
All Post
{% endblock %}



{% block body_content %}
<!--{% include "blogs/includes/header.html" with active_page="Post" %}-->
<section>
    <h2>All My Posts </h2>
<ul>
{% for blog in blog_list %}
    <li>
    <article>
        <a href="{% url 'blog_post' blog=blog.slug%}">{{ blog.title }}</a>
        <img src="{% static 'blogs/images/'|add:blog.image %}" alt="{{ blog.title }}" />
        <div>
        <p>{{ blog.preview }}</p>

        </div>
    </article>
    {% endfor %}
</ul>
</section>
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>All Post</title>-->

<!--</head>-->
<!--<body>-->

<!--<ul>-->
<!--{% for blog in blog_list %}-->
<!--    <li><a href="{% url 'blog_post' blog=blog %}">{{ blog|capfirst }}</a></li>-->
<!--    {% endfor %}-->
<!--</ul>-->
<!--</body>-->
<!--</html>-->
