{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block css_files %}{% endblock %}
</head>
<body>
<header>
    <nav>
        <h1>
        <a href="{% url 'home' %}">Home Page</a>
            </h1>
        <nav><a href="">All Posts</a></nav>
    </nav>
</header>
{% block body_content %}{% endblock %}


</body>
</html>